/* ******************** Custom Properties ******************** */

:root{
    --primary-color: #14274E;
    --secondary-color: #9BA4B4;
    --third-color: #F1F6F9;
    --primary-color-darker: #071227;
    
    --font-family: "Poppins", sans-serif;
}

/* ******************** Reset CSS ******************** */

*{
    margin: 0;
}

body {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    font-family: var(--font-family);
}

html{
    scroll-behavior: smooth;
}

*::selection{
    background-color: rgba(0, 0, 0, 0.05);
}

.hidden{
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.none{
    display: none !important;
}

/* ******************** Pokemon selection ******************** */

#select{
    width: 100vw;
    background-color: var(--secondary-color);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.select-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.select-pokemon h2, .confirm-pokemon h2{
    color: var(--primary-color);
    font-size: 1.8rem;
    width: 75vw;
    text-align: center;
    font-weight: 600;
    margin-bottom: 4rem;
}

.pokemon-name{
    width: 65vw;
    padding: .5rem 2.5vw;
    border-radius: 5rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-align: center;
    background-color: var(--secondary-color);
    border: .3rem solid var(--primary-color);
    outline: none;
    display: 
    block;
}

.pokemon-name-btn{
    padding: .75rem 4rem;
    margin-top: 4rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: .3s;
}

.pokemon-name-btn:hover{
    background-color: var(--primary-color-darker);
}

/* ******************** Pokemon confirm ******************** */

.confirm-pokemon{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}
.pokemon-img-container{
    width: 50vw;
    height: 50vw;
    border-radius: 1.5rem;
    border: .5rem solid var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-img{
    max-width: 80%;
    max-height: 80%;
}

.confirm-buttons{
    margin-top: 4rem;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.confirm-buttons button{
    padding: .5rem 2rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.confirm-pokemon-no{
    background-color: var(--secondary-color);
    border: .4rem solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    transition: .3s;
}

.confirm-pokemon-no:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.confirm-pokemon-yes{
    background-color: var(--primary-color);
    border: .4rem solid var(--primary-color);
    color: var(--secondary-color);
    font-weight: 500;
    transition: .3s;
}

.confirm-pokemon-yes:hover{
    background-color: var(--primary-color-darker);
    border-color: var(--primary-color-darker);
}

/* ******************** Main ******************** */

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.stats{
    width: 100vw;
    height: 20vh;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats figure{
    width: 10vh;
    height: 10vh;
    border-radius: 1rem;
    background-color: var(--third-color);
}

.place{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place img{
    height: 50%;
    cursor: pointer;
}

.previous, .food-prev{
    transform: scaleX(-1);
}

.place h2{
    color: var(--primary-color);
    width: 50vw;
    text-align: center;
}

.pet{
    height: 45vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-img{
    height: 30vh;
    z-index: 100;
}

.food-select{
    position: fixed;
    bottom: 0;
    background-color: var(--secondary-color);
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
}

.controls{
    position: fixed;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed{
    position: fixed;
    z-index: 60;
    bottom: 9rem;
    border: none;
    font-size: 1.3rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5rem;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: .3s;
}

.feed:hover{
    background-color: var(--primary-color-darker);
}

.controls h2{
    color: var(--primary-color);
}

.food-next, .food-prev{
    height: 7.5vh;
    cursor: pointer;
}

.food-div{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0 3rem;
    border: .4rem solid var(--primary-color);
    background-color: var(--secondary-color);
}

.food-img{
    max-width: 60%;
    max-height: 60%;
    cursor: pointer;
    z-index: 20;
}