<div class="shop none hidden">
    <div class="title">
        <h3>Poketienda</h3>
        <div class="close-shop">
            <p>X</p>
        </div>
    </div>
    <div class="shop-catalog">
        <p class="shop-money"></p>
        <div class="shop-products">
            <figure class="shop-product">
                <div class="shop-image">
                    <img src="assets/images/apple.png" alt="manzana">
                </div>
                <div class="shop-desc">
                    <p class="shop-product-name">Manzana ($30)</p>
                    <button class="buy-product" data-product="apple">Comprar</button>
                </div>
            </figure>
            <figure class="shop-product">
                <div class="shop-image">
                    <img src="assets/images/burger.png" alt="hamburguesa">
                </div>
                <div class="shop-desc">
                    <p class="shop-product-name">Hamburguesa ($20)</p>
                    <button class="buy-product" data-product="burger">Comprar</button>
                </div>
            </figure>
            <figure class="shop-product">
                <div class="shop-image">
                    <img src="assets/images/hot-dog.png" alt="perro caliente">
                </div>
                <div class="shop-desc">
                    <p class="shop-product-name">Perrito ($10)</p>
                    <button class="buy-product" data-product="hot-dog">Comprar</button>
                </div>
            </figure>
        </div>
    </div>
</div>
<div class="shop-div">
    <img src="assets/images/shop.png" alt="Hacer de noche" class="shop-btn">
</div>